<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Immersive Sims</title>
  </head>
  <body>
    <h1>What is an Immersive Sim?</h1>

    <ul>
      <li>environments that offer complex systems-based options to players</li>
      <li>games that are unafraid to let players miss content</li>
      <li>often an element of social simulation</li>
      <li>allow and encourage creative problem-solving and various routes</li>
    </ul>
  </body>
</html>
