body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
  color: #e76f51;
  font-family: "Chivo", sans-serif;
}

ol {
  color: e76f51;
  display: flex;
  flex-direction: row;
}

a {
  color: #e76f51;
}

a:visited {
  color: #e76f51;
}

h1 {
  color: #e9c46a;
  font-size: 45px;
}
